<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Tipo Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            padding: 20px;
            width: 100%;
            max-width: 600px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .contenido header {
            background: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }
        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: #424874;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button, select {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #424874;
            color: white;
            cursor: pointer;
        }
        .checkbox-container {
            display: flex;
        }
        .checkbox-container input {
            margin-right: 10px;
        }
    </style>
</head>
<body>

<div class="contenido">
    <header>
        <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin/tipoMedia/listar'"></i>Crear Tipo Media</h1>
    </header>
    <form id="createTipoMediaForm" action="/admin/tipoMedia/create" method="post">
            <label for="id">ID</label>
            <input type="text" id="tipoMediaId" name="Id" placeholder="Id" value="{{tipoMedia.id}}" disabled>

            <label for="orden">Orden</label>
            <input type="text" id="orden" name="orden" placeholder="Orden" value="{{tipoMedia.orden}}" disabled>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="{{tipoMedia.nombre}}">

            <div class="checkbox-container">
                <input type="checkbox" id="activo" name="activo" value="{{tipoMedia.activo}}" {{#if tipoMedia.activo}}checked{{/if}}>
                <label for="activo">Activo</label>
            </div>
        <button type="submit">Editar</button>
    </form>
</div>

<!-- Modal para mensajes de error -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Mensaje de error -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mensajes de respuesta -->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Mensaje de respuesta -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#createTipoMediaForm').submit(function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma normal

            var formData = $(this).serialize(); // Serializar los datos del formulario
            var tipoMediaId = $('#tipoMediaId').val();

            var url = '/admin/tipoMedia/update/' + tipoMediaId;

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        $('#responseModalLabel').text('¡Listo!');
                        $('#responseModal .modal-body').text(response.message);
                        // Redirigir después de cerrar el modal
                        $('#responseModal').on('hidden.bs.modal', function () {
                            window.location.href = '/admin/tipoMedia/listar';
                        });
                    } else {
                        $('#responseModalLabel').text('Error');
                        $('#responseModal .modal-body').text('Ocurrió un error');
                    }
                    $('#responseModal').modal('show');
                },
                error: function(xhr) {
                    var errorMessage = 'Ocurrió un error';
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        errorMessage = xhr.responseJSON.error;
                    }
                    $('#errorModal .modal-body').text(errorMessage);
                    $('#errorModal').modal('show');
                }
            });
        });

        $('.close-modal').on('click', function () {
            if ($('#responseModalLabel').text() === '¡Listo!') {
                window.location.href = '/admin/tipoMedia/listar';
            }
        });
    });
</script>
</body>
</html>
