<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Integrante</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            padding: 20px;
            width: 100%;
            max-width: 600px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .contenido header {
            background: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }
        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: #424874;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button, select {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #424874;
            color: white;
            cursor: pointer;
        }
        .checkbox-container {
            display: flex;
        }
        .checkbox-container input {
            margin-right: 10px;
        }
    </style>
</head>
<body>

<div class="contenido">
    <header>
        <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin/integrantes/listar'"></i>Crear Integrante</h1>
    </header>
    <form id="createIntegranteForm">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre">

        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" placeholder="Apellido">

        <label for="matricula">Matrícula</label>
        <input type="text" id="matricula" name="matricula" placeholder="Matrícula">

        <label for="pagina">Página</label>
        <input type="text" id="pagina" name="pagina" placeholder="Ingrese de vuelta su matricula">

        <div class="checkbox-container">
            <input type="checkbox" id="activo" name="activo">
            <label for="activo">Activo</label>
        </div>

        <button type="submit">Crear</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Mensaje de error -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#createIntegranteForm').submit(function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma normal

            var formData = $(this).serialize(); // Serializar los datos del formulario

            $.ajax({
                type: 'POST',
                url: '/admin/integrantes/create',
                data: formData,
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        window.location.href = '/admin/integrantes/listar';
                    }
                },
                error: function(xhr) {
                    var errorMessage = 'Ocurrió un error';
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        var formattedErrorMessage = xhr.responseJSON.error.replace(/\n/g, '<br>');
                        errorMessage = formattedErrorMessage;
                    }
                    $('#errorModal .modal-body').html(errorMessage);
                    $('#errorModal').modal('show');
                }
            });
        });
    });
</script>

</body>
</html>
