<div class="barra">
    <h2>Menú</h2>
    <ul>
        <li><a href="/">Inicio</a></li>
        {{#if isAuthenticated}}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        {{else}}
            <li><a href="/auth/login">Login</a></li>
        {{/if}}
        {{#each integrantes}}
            <li><a href="{{pagina}}">{{nombre}}</a></li>
        {{/each}}
        <li><a href="/curso">Curso</a></li>
        <li><a href="/word_cloud">Word Cloud</a></li>
    </ul>
</div>
